<!-- LOOK UP HERE:
  - https://dev.intelrealsense.com/docs/ros1-wrapper
  - https://github.com/introlab/rtabmap_ros/blob/noetic-devel/rtabmap_launch/launch/rtabmap.launch
  - https://github.com/cra-ros-pkg/robot_localization/blob/noetic-devel/params/ukf_template.yaml
  -->

<launch>
    <!-- Define arguments of launch file -->
    <arg name="joystick"            default="false"/>
    <arg name="rtab_db"             default="~/.ros/robo_recon_rtab.db"/>
    <arg name="pin_throttle"        default="8"/>
    <arg name="pin_steering"        default="9"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
    </include>

    <node pkg="i2cpwm_board" type="i2cpwm_board" name="i2c_board"/>

    <!-- Start rtabmap (used for SLAM and odometry) -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="database_path" value="$(arg rtab_db)"/>
        <arg name="rgb_topic" value="/camera/color/image_raw"/>
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="camera_info_topic" value="/camera/color/camera_info"/>
        <arg name="depth_camera_info_topic" value="/camera/depth/camera_info"/>
        <arg name="rtabmapviz" value="false"/>
        <arg name="rviz" value="false"/>
    </include>

    <!-- Start nodes self-localize vehicle -->
    <include file="$(find robot_localization)/launch/ukf_template.launch"/>
    <param name="/ukf_se/frequency" value="30"/>
    <param name="/ukf_se/base_link_frame" value="camera_link"/>
    <param name="/ukf_se/odom0" value="rtabmap/odom"/>
    <rosparam param="/ukf_se/odom0_config">[true,true,true,
                                            true,true,true,
                                            true,true,true,
                                            true,true,true,
                                            true,true,true]
    </rosparam>
    <param name="/ukf_se/odom0_relative" value="false"/>
    <param name="/ukf_se/use_control" value="false"/>

    <!-- Start nodes to operate vehicle with joystick -->
    <group if="$(arg joystick)">
        <include file="$(find teleop_twist_joy)/launch/teleop.launch"/>

        <node pkg="robo_recon" type="low_level_control.py" name="robo_recon_controller">
            <param name="pin_throttle" value="$(arg pin_throttle)"/>
            <param name="pin_steering" value="$(arg pin_steering)"/>
            <!-- Define maximum control values the node will receive -->
            <param name="max_throttle" value="1.5"/>
            <param name="max_steering" value="0.4"/>
        </node>
    </group>

    <!-- Start nodes to operate vehicle via ROS navigation -->
    <group unless="$(arg joystick)">
        <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depth_img_to_laser_scan">
            <remap from="image" to="/camera/aligned_depth_to_color/image_raw"/>
        </node>

        <!-- Configure ROS navigation stack -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find robo_recon)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find robo_recon)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find robo_recon)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find robo_recon)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find robo_recon)/config/base_local_planner_params.yaml" command="load" />
        </node>

        <node pkg="robo_recon" type="low_level_control.py" name="robo_recon_controller">
            <param name="pin_throttle" value="$(arg pin_throttle)"/>
            <param name="pin_steering" value="$(arg pin_steering)"/>
            <!-- Define maximum control values the node will receive -->
            <param name="max_throttle" value="1.0"/>
            <param name="max_steering" value="1.0"/>
        </node>
    </group>
</launch>
